.App {
  text-align: center;
}
p, a, span, div, button {
  font-size: 16px;
}
input, select, textarea {
  font-size: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  font-size: 1.5em;
  margin: 5px 0;
}
h6 {
  font-size: 1em;
  margin: 5px 0;
}
.form-control {
  padding: 5px 8px;
  /* height: 25px; */
  border-radius: 2px;
  border: solid 1px gray;
  outline: none;
  transition: 0.3s all;
}
.form-control:focus {
  border: solid 1px rgb(12, 86, 172);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}
/* .btn {
  background-color: rgb(19, 87, 165);
  padding: 5px 20px;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
